[user]
    name = avicennax
    email = simon.haxby@gmail.com

[alias]
    plog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    splog = log --all --decorate --oneline --graph
    st = status
    current = rev-parse --abbrev-ref HEAD
    cm = commit -m
    b = branch
    co = checkout
    plo = pull origin
    pho = push origin

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[core]
    editor = vim
